body,html{
  background-color: #fff;
  width: 100%;
  margin:0;
}
.foot p{
  margin-top: 100px;
	font-size: 26px;
  padding: 20px;
  text-align: center;
}
.middle{
  font-size: 26px;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
}
